<div>
  <div id="chatContainer">
    <label style="margin-right:23px">Your Name:</label> <input [(ngModel)]="senderName"><br>
    <label>Your Message:</label> <input [(ngModel)]="messageText" />
    <button (click)="sendMessage()">Send</button>
    <div class="container" *ngFor="let item of messages.slice().reverse() ">
      <p>From: {{item.msg.name}}</p>
      <b>{{item.msg.message}}</b>
      <span class="time-right">{{item.timeStamp}}</span>
    </div>
  </div>
</div>

<div class="jumbotron text-center">
  <p>FIT2095 Chat Application</p>
</div>